extends layout

block content
  h1= title
  p Welcome to Nikhila's #{title}
  .container-fluid
    .row
      - const result = results
      each book, index in result
        .col-sm-2(onclick=`buy(${index})`)
          h3 #{book.title}
          p Author: #{book.author}
          p Published Year: #{book.publishedYear}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }


  
