extends layout

block content
  h1= title
  p Welcome to Nikhila's #{title}
  .container-fluid
    .row
      - const results = [{ title : "To Kill a Mockingbird", author: "Harper Lee", publishedYear: 1960 },{ title: "Harry Potter and the Sorcerer's Stone", author: "J.K. Rowling", publishedYear: 1997 },{ title: "The Hunger Games", author: "Suzanne Collins", publishedYear: 2008 }]
      each book, index in results
        .col-sm-2(onclick=`buy(${index})`)
          h3 #{book.title}
          p Author: #{book.author}
          p Published Year: #{book.publishedYear}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }


  
